<!DOCTYPE html>

<html>
<head>
    <meta charset=utf-8>
    <meta http-equiv=X-UA-Compatible content="IE=edge">
    <meta name=viewport content="width=device-width,initial-scale=1">
    <link rel="icon" href="~/favicon.ico">
    <title>sistema Inventario</title>
    <link rel=stylesheet href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900">
    <link rel=stylesheet href="https://fonts.googleapis.com/css?family=Material+Icons">
    <link href="~/css/app.905f9c8b.css" rel="stylesheet">
    <link href="~/css/chunk-vendors.49a5b8ea.css" rel="stylesheet">
    <link href="~/js/chunk-2d216214.63663bdb.js.map" rel="prefetch">
    <link href="~/js/chunk-44195b2c.5eff532a.js" rel="prefetch">
</head>
<body>
    @RenderBody()
    <noscript>
        <strong>
            We're sorry but sistema doesn't work properly without JavaScript enabled. Please enable it to
            continue.
        </strong>
    </noscript>
    <div id=app></div>
    <script src="~/js/chunk-vendors.92459d49.js"></script>
    <script src="~/js/app.7160fd85.js"></script>
    @RenderSection("Scripts",required:false)
</body>
</html>
